
:root{
  --articleItem-padding: 24px;
  @media screen and (min-width: 375px){
    --articleItem-padding: 38px;
  }
  @media screen and (min-width: 1024px){
    --articleItem-padding: 24px;
  }
}
.ArticlesItem{
  background-color: var(--White);
  border-radius: 7px;
  max-width: 400px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  
  &__image-container{
    position: relative;
    height: 250px;
  }
  &__image{
    @include imageCover;
  }
  &__author{
    padding: 0 var(--articleItem-padding);
    padding-top: 24px;
  }
  
  &__content{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: var(--articleItem-padding);
    padding-top: 0;
    
  }
  &__title{
    @include lightTitle;
  }
}