.ArticlesItem{
  $itemPadding: 38px;
  background-color: var(--White);
  border-radius: 7px;
  max-width: 400px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 10px;
  
  &__image{
    padding-bottom: 24px;
  }
  &__author{
    padding: 0 $itemPadding;
  }
  
  &__content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: $itemPadding;
    padding-top: 0;
    
  }
  &__title{
    @include lightTitle;
  }
}