.Articles{
  @include commonPadding;
  background-color: var(--VeryLightGray);
  display: grid;
  grid-template-columns: minmax(200px, 1300px);
  justify-content: center;
  
  &__title{
    @include title;
    text-align: center;
    
    @media screen and (min-width: 1024px){
      text-align: start;
    }
  }
  
  &__items{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    gap: 20px;
    
    @media screen and (min-width: 768px){
      grid-template-columns: repeat(2, minmax(200px, 400px));
    }
    @media screen and (min-width: 1024px){
      grid-template-columns: repeat(3, minmax(200px, 400px));
    }
    @media screen and (min-width: 1200px){
      grid-template-columns: repeat(4, minmax(200px, 400px));
    }
  }
}