.Feature{
  max-width: 400px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 20px;
  
  @media screen and (min-width: 992px){
    max-width: 231px;
  }
  @media screen and (min-width: 1024px){
    justify-items: start;
  }
  
  &__title{
    @include lightTitle;
    font-size: 1.7rem;
  }
}