.WhyEasybank{
  @include commonPadding;
  text-align: center;
  background-color: var(--LightGrayishBlue);
  
  &__content{
    padding-bottom: 30px;
  }
  &__title{
    @include title;
  }
  &__feautures{
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
  }
}