.WhyEasybank{
  @include commonPadding;
  text-align: center;
  background-color: var(--LightGrayishBlue);
  display: grid;
  grid-template-columns: minmax(200px, 1300px);
  justify-content: center;
  justify-items: center;
  
  @media screen and (min-width: 1024px){
    text-align: start;
    justify-items: start;
  }
  
  &__content{
    padding-bottom: 30px;
  }
  &__title{
    @include title;
  }
  &__description{
    max-width: 525px;
  }
  &__feautures{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 40px;
    
    @media screen and (min-width: 768px){
      grid-template-columns: repeat(2, minmax(200px, 400px));
      justify-content: space-between;
    }
    @media screen and (min-width: 1024px){
      grid-template-columns: repeat(3, minmax(200px, 400px));
    }
    @media screen and (min-width: 1200px){
      grid-template-columns: repeat(4, minmax(200px, 400px));
    }
  }
}